<form [formGroup]="authForm" (submit)="saveForm()">
  <label>Username</label>
  <br>
  <input type="text" formControlName="username">
  <br>

  <label>Password</label>
  <br>
  <input type="password" formControlName="password">
  <br>
  <button type="submit" [disabled]="formDisabled()">
    <span *ngIf="!registerMode">Login</span>
    <span *ngIf="registerMode">Register</span>
  </button>
</form>
<br>
<span *ngIf="!registerMode">Don't have an account? Register <a (click)="registerMode = true">here</a></span>
<span *ngIf="registerMode">Already have an account? Login <a (click)="registerMode = false">here</a></span>
