.app {
  background-color: #282c34;
  color: white;
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 50px;

}

h1 {
  text-align: center;
  color: orange;
  font-size: 3em;
}

h1 fa-icon {
  color: white;
  display: inline-block;
  transform: rotate(30deg);
}
